@import "_variables.scss";
@import '_mixins.scss';


.banner {
    display: inline-block;
    text-align: left;
    color: $main_text-color;
    margin-left: 4vw;
    width: 60%;

    &__title,
    &__subtitle {
        font-size: calc(15px + 3.5vw);
    }

    &__subtitle,
    &__paragraph {
        line-height: 2;
    }

    &__paragraph {
        font-size: calc(10px + 1.8vw);
    }
}