.banner {
    display: inline-block;
    text-align: left;
    color: #fff;
    margin-left: 4vw;
}

.banner h1 {
    font-size: calc(25px + 3.5vw);
}

.banner h2 {
    font-size: calc(25px + 3.5vw);
    line-height: 2;
}

.banner div {
    width: 10rem;
    height: 5px;
    margin: 1.7rem auto;
}

.banner p {
    font-size: calc(10px + 1.8vw);
    line-height: 2;
}


/* @media screen and (min-width: 576px) {
    .banner {
        padding: 2rem 3rem;
    }

    .banner h1 {
        font-size: 3rem;
    }
} */

/*
@media screen and (min-width: 992px) {
    .banner {
        padding: 2rem 6rem;
    }

    .banner h1 {
        font-size: 4rem;
    }
} */