.banner {
    display: inline-block;
    text-align: left;
    color: #fff;
    margin-left: 4vw;
    width: 60%;

    h1,
    h2 {
        font-size: calc(25px + 3.5vw);
    }

    h2,
    p {
        line-height: 2;
    }

    p {
        font-size: calc(10px + 1.8vw);
    }
}


/* @media screen and (min-width: 576px) {
    .banner {
        padding: 2rem 3rem;
    }

    .banner h1 {
        font-size: 3rem;
    }
} */

/*
@media screen and (min-width: 992px) {
    .banner {
        padding: 2rem 6rem;
    }

    .banner h1 {
        font-size: 4rem;
    }
} */