   @import "_variables.scss";
   @import '_mixins.scss';
   @import '_animations.scss';

   .card__button {
       display: grid;
       width: auto;
       height: auto;
       text-align: center;
       cursor: pointer;
       padding: 30px;
       background: transparent;
       border: 1px solid #fff;
       position: absolute;
       overflow: hidden;
       letter-spacing: 2px;
       opacity: .5;
       color: $second_text-color;
       text-decoration: none;

       font: {
           size: 24px;
           weight: bold;
       }

       @include respond(tab-port) {
           font-size: calc(10px + 2vw);
           padding: 20px;
           opacity: 1;
       }

       &:before {
           content: '';
           position: absolute;
           top: 0;
           left: -100%;
           width: 100%;
           height: 100%;
           background: linear-gradient(90deg, transparent, #fff, transparent);
           transition: .5s;

           &:hover {
               background: linear-gradient(90deg, #fff, #fff, #fff);
           }
       }

       &:hover:before,
       &:active:before,
       &:focus:before {
           left: 100%;
       }
   }

   .about {

       .card_button {
           background: $third_background-color;
           color: $second_text-color;
           padding: 15px !important;
           margin: 30px auto 0;
           position: relative;
       }
   }