   @import "_variables.scss";
   @import '_mixins.scss';
   @import '_animations.scss';

   .error {
       @include gridCenter;
       width: 100vw;
       height: auto;
       color: $main_text-color;
       margin: 0 auto;
       line-height: 1.5;
       text-transform: uppercase;
       font-size: $second_font_size;
   }