        @import "_variables.scss";
        @import '_mixins.scss';
        @import '_animations.scss';

        .defaultHero {
            min-height: 100vh;
            position: relative;
            object-fit: cover;
            background: url("../images/img4.png");
            background-image: linear - gradient(105deg,
                    rgba(255, 255, 255, .9) 0%,
                    rgba(255, 255, 255, 0.5) 60%,
                    transparent 50%),
                url("../images/img4.png");

            background: {
                position: top;
                repeat: no-repeat;
                attachment: fixed;
                size: cover;
                color: #fff;
            }

            transition: .5s;
            filter: grayscale(1);
            -webkit-filter: grayscale(1);
            z-index: 999;
            display: grid;
            align-items: center;

            &:hover {
                transition: .5s;
                filter: grayscale(0);
                -webkit-filter: grayscale(0);
            }

            @media only screen and (max-width: 900px) {
                .defaultHero {
                    background-position: calc(100% + 200px);
                }
            }
        }