.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    z-index: 999999;
    height: auto;
}

.nav-header {
    display: flex;
    justify-content: flex-end;
}

.nav-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px;
}

.nav-icon {
    font-size: 3rem;
    color: #fff;
}

.nav-links {
    height: 0;
    overflow: hidden;
    transition: .8s;
    list-style-type: none;
}

.nav-links a {
    display: block;
    text-decoration: none;
    color: #fff;
    transition: .8s;
    text-align: center;
    font-size: calc(15px + 1.1vw);
    cursor: pointer;
    // border: 1px solid transparent;
    padding: 5px;
    width: 40%;
    margin: 5px auto;
}

.nav-links a:hover {
    // border: 1px solid #fff;
    border-radius: 5px;
    background: #fff;
    color: #000;
}

.show-nav {
    height: auto;
}

.active {
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    color: #000 !important;
}


@media screen and (min-width: 768px) {
    .nav-btn {
        display: none;
    }

    .nav-center {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .nav-links {
        height: auto;
        display: flex;
    }

    .nav-links a {
        margin: 10px;
        padding: 10px;
        width: auto;
    }
}