.sub_about_2 .sub_about_panel {
    position: relative;
    z-index: 99999;
}

.sub_about_2 .sub_about_panel ul {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);
    margin: 0;
    padding: 0;
    width: 900px;
    height: 600px;
}

@media only screen and (max-width: 900px) {
    .sub_about_2 .sub_about_panel ul {
        width: 400px;
        top: 55%;
        left: 112%;
        transform: translate(-112%, -55%);
    }
}

.sub_about_2 .sub_about_panel ul li {
    list-style: none;
    margin: 0 40px;
    display: inline-block;
}

.sub_about_2 .sub_about_panel ul li a {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
    transition: .5s;
    cursor: default;
}

@media only screen and (max-width: 900px) {
    .sub_about_2 .sub_about_panel ul li a {
        width: 50px;
        height: 50px;
    }
}

.sub_about_2 .sub_about_panel ul li a .fab {
    font-size: 50px;
    color: #262626;
    line-height: 80px;
    transition: .5s;
}

@media only screen and (max-width: 900px) {
    .sub_about_2 .sub_about_panel ul li a .fab {
        font-size: 30px;
        line-height: 50px;
    }
}

.sub_about_2 .sub_about_panel ul li a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 80px;
    width: 20px;
    background-color: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}

@media only screen and (max-width: 900px) {
    .sub_about_2 .sub_about_panel ul li a:before {
        height: 50px;
    }
}

.sub_about_2 .sub_about_panel ul li a:after {
    content: '';
    position: absolute;
    bottom: -19px;
    left: -10px;
    height: 20px;
    width: 100%;
    background-color: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}

.sub_about_2 .sub_about_panel ul li a:hover,
.sub_about_2 .sub_about_panel ul li a:active,
.sub_about_2 .sub_about_panel ul li a:focus {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgba(255, 255, 255, 0.7);
}

.sub_about_2 .sub_about_panel ul li a:active {
    top: 5px;
}

.sub_about_2 .sub_about_panel ul li:hover .fab {
    color: #fff;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(1) a {
    background: #3b5999;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(1) a:before {
    background: #2e4a86;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(1) a:after {
    background: #4a69ad;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(2) a {
    background: #e44d26;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(2) a:before {
    background: #cc3d19;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(2) a:after {
    background: #e96949;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(3) a {
    background: #f7e018;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(3) a:before {
    background: #ddc808;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(3) a:after {
    background: #f8e53a;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(4) a {
    background: #0077b5;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(4) a:before {
    background: #036aa0;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(4) a:after {
    background: #0d82bf;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(5) a {
    background: #1f62ae;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(5) a:before {
    background: #174982;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(5) a:after {
    background: #267ad9;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(6) a {
    background: #8a61c1;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(6) a:before {
    background: #7847b8;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(6) a:after {
    background: #956cc6;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(7) a {
    background: #33ff33;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(7) a:before {
    background: #00e600;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(7) a:after {
    background: #66ff66;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(8) a {
    background: #ff5500;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(8) a:before {
    background: #cc4400;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(8) a:after {
    background: #ff7733;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(9) a {
    background: #ff0066;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(9) a:before {
    background: #cc0052;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(9) a:after {
    background: #ff3385;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(10) a {
    background: #cf649a;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(10) a:before {
    background: #c33c80;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(10) a:after {
    background: #db8ab3;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(11) a {
    background: #e4405f;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(11) a:before {
    background: #d02d4c;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(11) a:after {
    background: #f1395c;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(12) a {
    background: #61dbfb;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(12) a:before {
    background: #38d3fa;
}

.sub_about_2 .sub_about_panel ul li:hover:nth-child(12) a:after {
    background: #83e4fc;
}

.sub_about_2 .sub_about_panel ul .p-1 {
    position: absolute;
    top: 260px;
    left: 170px;
}

@media only screen and (max-width: 900px) {
    .sub_about_2 .sub_about_panel ul .p-1 {
        top: 220px;
        left: 220px;
    }
}

.sub_about_2 .sub_about_panel ul .p-2 {
    position: absolute;
    top: 340px;
    left: 40px;
}

@media only screen and (max-width: 900px) {
    .sub_about_2 .sub_about_panel ul .p-2 {
        top: 280px;
        left: 300px;
    }
}

.sub_about_2 .sub_about_panel ul .p-3 {
    position: absolute;
    top: 430px;
    left: 170px;
}

.sub_about_2 .sub_about_panel ul .p-3 a {
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .sub_about_2 .sub_about_panel ul .p-3 {
        top: 390px;
        left: 300px;
    }
}

.sub_about_2 .sub_about_panel ul .p-4 {
    position: absolute;
    top: 520px;
    left: 300px;
}

.sub_about_2 .sub_about_panel ul .p-4 a {
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .sub_about_2 .sub_about_panel ul .p-4 {
        top: 450px;
        left: 385px;
    }
}

.sub_about_2 .sub_about_panel ul .p-5 {
    position: absolute;
    top: 445px;
    left: 430px;
}

.sub_about_2 .sub_about_panel ul .p-5 a {
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .sub_about_2 .sub_about_panel ul .p-5 {
        top: 400px;
        left: 470px;
    }
}

.sub_about_2 .sub_about_panel ul .p-6 {
    position: absolute;
    top: 375px;
    left: 550px;
}

.sub_about_2 .sub_about_panel ul .p-6 a .fab {
    font-weight: bold;
}

@media only screen and (max-width: 900px) {
    .sub_about_2 .sub_about_panel ul .p-6 {
        top: 290px;
        left: 470px;
    }
}

.sub_about_2 .sub_about_panel ul .p-7 a .fab,
.sub_about_2 .sub_about_panel ul .p-8 a .fab,
.sub_about_2 .sub_about_panel ul .p-9 a .fab {
    font-size: 35px;
    font-weight: bold;
}

@media only screen and (max-width: 900px) {

    .sub_about_2 .sub_about_panel ul .p-7 a .fab,
    .sub_about_2 .sub_about_panel ul .p-8 a .fab,
    .sub_about_2 .sub_about_panel ul .p-9 a .fab {
        font-size: 22px;
    }
}

.sub_about_2 .sub_about_panel ul .p-7 {
    position: absolute;
    top: 305px;
    left: 670px;
}

.sub_about_2 .sub_about_panel ul .p-7 img {
    width: 90%;
    height: 100%;
}

@media only screen and (max-width: 900px) {
    .sub_about_2 .sub_about_panel ul .p-7 {
        top: 240px;
        left: 550px;
    }
}

.sub_about_2 .sub_about_panel ul .p-8 {
    position: absolute;
    top: 210px;
    left: 540px;
}

.sub_about_2 .sub_about_panel ul .p-8 a .fab {
    line-height: 1;
}

@media only screen and (max-width: 900px) {
    .sub_about_2 .sub_about_panel ul .p-8 {
        top: 180px;
        left: 470px;
    }
}

.sub_about_2 .sub_about_panel ul .p-9 {
    position: absolute;
    top: 120px;
    left: 410px;
}

@media only screen and (max-width: 900px) {
    .sub_about_2 .sub_about_panel ul .p-9 {
        top: 120px;
        left: 385px;
    }
}

.sub_about_2 .sub_about_panel ul .p-10 {
    position: absolute;
    top: 190px;
    left: 290px;
}

@media only screen and (max-width: 900px) {
    .sub_about_2 .sub_about_panel ul .p-10 {
        top: 170px;
        left: 300px;
    }
}

.sub_about_2 .sub_about_panel ul .p-11 {
    position: absolute;
    top: 350px;
    left: 300px;
}

@media only screen and (max-width: 900px) {
    .sub_about_2 .sub_about_panel ul .p-11 {
        top: 340px;
        left: 385px;
    }
}

.sub_about_2 .sub_about_panel ul .p-12 {
    position: absolute;
    top: 280px;
    left: 420px;
}

@media only screen and (max-width: 900px) {
    .sub_about_2 .sub_about_panel ul .p-12 {
        top: 230px;
        left: 385px;
    }
}