        @import "_variables.scss";
        @import '_mixins.scss';
        @import '_animations.scss';


        .skills {
            @include gridCenter;
            height: 100vh;
            width: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 6fr;
            color: $main_text-color;

            &__title {
                font-size: 8vw;
                opacity: .2 !important;
                margin-top: 80px;
            }

            &__subtitle {
                font-size: 5vw;
                letter-spacing: 3px;
                background: linear-gradient(90deg, #000, #fff, #000);
                background-repeat: no-repeat;
                background-size: 80%;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(255, 255, 255, 0);
                animation: animateText 3s linear infinite;
            }
        }